{% extends "base.html" %}
{% block content %}
<div>
  <p>The <b>activation trigger</b> of the anticipatory action framework for riverine flooding in
    Somalia <b>has been reached</b> for the <b>{{ season_title[action_windows[0]] }}</b> season.
    {% for key in action_windows %}{% set w = windows[key] %}
    The {{ source_title[w.action.source] }} forecasts issued on {{ (google_issue if w.action.source == 'google' else glofas_issue)|longdate }} indicate that
    <b>{{ w.action.max_votes }} of {{ w.action.n_of }}</b> stations on the {{ river_title[w.river] }} will
    exceed their discharge return level thresholds within {{ w.action.leads[1] }} days.
    {% endfor %}
  </p>
  {% with leg_name = 'action', hit_windows = action_windows %}{% include "_stations.html" %}{% endwith %}
  <img src="{{ chart_url }}" width="640" style="max-width:100%;height:auto;margin-top:16px;"/>
  <p>The live status page is at <a href="{{ dashboard_url }}">{{ dashboard_url }}</a>. Code and documentation are available <a href="{{ repo_url }}">on GitHub</a>.</p>
</div>
{% endblock content %}
