{% extends "base.html" %}
{% block content %}
<div>
  <p>The <b>readiness trigger</b> of the anticipatory action framework for riverine flooding in
    Somalia has been reached for the <b>{{ season_title[readiness_windows[0]] }}</b> season.
    {% for key in readiness_windows %}{% set w = windows[key] %}
    The <a href="https://global-flood.emergency.copernicus.eu/">GloFAS</a> forecasts issued on
    {{ glofas_issue|longdate }} indicate that <b>{{ w.readiness.max_votes }} of {{ w.readiness.n_of }}</b>
    stations on the {{ river_title[w.river] }} will exceed their 1-in-{{ w.readiness.rp }} year discharge
    return levels from {{ w.readiness.max_votes_date|longdate }}, {{ w.readiness.leads[0] }} days or more ahead.
    {% endfor %}
  </p>
  <p>The activation trigger has not been reached. We will continue monitoring for the activation trigger daily.</p>
  {% with show_activation = false %}{% include "_rules.html" %}{% endwith %}
  <img src="{{ chart_url }}" width="640" style="max-width:100%;height:auto;"/>
  <p>The live status page is at <a href="{{ dashboard_url }}">{{ dashboard_url }}</a>. Code and documentation are available <a href="{{ repo_url }}">on GitHub</a>.</p>
</div>
{% endblock content %}
